body{
    margin: 0 10px 0 10px;
}

header{
    border-bottom: solid;
}
h1, .header{
    display: inline-block;
}

p, .header{
    display: inline-block;
    margin: 20px 10% 20px 10%;
}

.item{
    width: 200px;
    height: 200px;
    margin: auto;
}